<h3>Clients App</h3>

<div class="container">
  <p>
    This app is a personal excercise for practice my abilities programming. This app is created with <span class="font-weight-bold font-italic"> Angular</span> in 
    front-end and <span class="font-weight-bold font-italic">Spring-Boot</span> framework in backend. The styles is in Bootstrap, using tables and cards.
  </p>
  <p>
    <span class="font-weight-bold"> Angular</span> is my favourite framework of JavaScript but i work with <span class="font-weight-bold"> Vue</span>, <span class="font-weight-bold"> React</span> and <span class="font-weight-bold"> Next</span>. The front-end is my best
    place for work. I can work with <span class="font-weight-bold"> TypeScript</span> and <span class="font-weight-bold"> JavaScript</span>
  </p>
  <p class="text-uppercase text-right font-weight-light">
    Thanks for visit this app!
  </p>- Andrés Chacón (Software Developer)
</div>
